header {
    font-family: sans-serif;
    font-size: 150%;
    text-align: center;
    border: 3px solid blueviolet;
    background-color: lightblue;
}

.variant {
    width: 50%;
}

.group {
    width: 50%;
}

.autor {
    color: black;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

p:first-letter {
    color: gray;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    font-size: 130%;
    padding: 10%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > div {
    padding: 1%;
}

.parameter {
    display: table-cell;
    text-align: center;
    width: 100%;
}

canvas[width] {
    border:1px solid black;
}
